.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite alternate 20s linear;
  }
}

.App-header {
  background-color: #073B3A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header h1, .App-header p{
  line-height: 4px;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}
.App-link:hover{
  color:goldenrod;
}

@keyframes App-logo-spin {
  from {
    transform: translate(-100px);
  }
  to {
    transform: translate(100px);

  }
}
